{% extends base.html %}

{% block mainbody %}

    It's time to...  ad-min-istraaaaaate:
    <div class="alignLeft">
    {% if hosts %}
        <ul>
        {% for host in hosts %}
            <li>{{ host.hostname }} ({{ host.virt_type }}, {{ len(guests[host]) }} managed guests, 
                {{host.num_guests }} total guests, {{ host.free_mem }} MB RAM available)</li>
            {% if len(guests[host]) > 0 %}
                <ul>
                {% for guest in guests[host] %}
                    <li>Virt Name: {{ guest.virt_name }}</li>
                    <ul>
                        <li>Owner: <b>{{ guest.owner.username }}</b></li>
                        <li>Cobbler Profile: {{ guest.cobbler_profile }}</li>
                        <li>Expires at: {{ guest.expire_date }}</li>
                        <li>Current State: {{ guest.state }}</li>
                        <li>Purpose: {{ guest.purpose }}</li>
                        <li><a href="/guest/{{ guest.id }}/start">Start</a> |
                            <a href="/guest/{{ guest.id }}/stop">Stop</a> |
                            <a href="/guest/{{ guest.id }}/destroy">Destroy (force stop)</a> |
                            <a href="/guest/{{ guest.id }}/pause">Pause</a> |
                            <a href="/guest/{{ guest.id }}/unpause">Unpause</a> |
                            <a href="/guest/{{ guest.id }}/restart">Restart</a> |
                            <a href="/guest/{{ guest.id }}/delete">Delete</a>
                        </li>
                    </ul>
                {% end %}
                </ul>
            {% end %}
            
        {% end %}
        </ul>

    {% else %}

        <p> Zoinks!  No hosts are registered. </p>

    {% end %}
    </div>
{% end %}
