{% extends base.html %}

{% block mainbody %}
    
    Reserve a guest using the below form:
    <form action="/guest/checkout" method="post">
        Guest's Cobbler Target:
        {% if targets %}
            <select name="target">
            {% for target in targets %}
                <option value="{{ target }}">{{ target }}</option>
            {% end %}
            </select>
        {% else %}
            <b> No targets present! </b>
        {% end %}
        <br />
        Name your guest:
        <input type="text" name="virt_name">
        <br />
        Reason for reservation:
        <input type="text" name="purpose">
        <br />
        Length of reservation (in days):
        <input type="text" name="expire_days">
        <br />
        <input type="submit" value="Reserve!">
    </form>
    
{% end %}
