{% extends base.html %}

{% block mainbody %}

    Current hosts and guests, as seen by Fogmachine:
    <div class="alignLeft">
    {% if hosts %}
    
        <ul>
        {% for host in hosts %}
            <li>{{ host.hostname }} ({{ host.virt_type }}, {{ len(guests[host]) }} managed guests, 
                {{host.num_guests }} total guests, {{ host.free_mem }} MB RAM available)</li>
            {% if len(guests[host]) > 0 %}
                <ul>
                {% for guest in guests[host] %}
                    <li>Virt Name: {{ guest.virt_name }}</li>
                    <ul>
                        <li>Hostname: {{ guest.hostname }}</li>
                        <li>IP Address: {{ guest.ip_address }}</li>
                        <li>Cobbler Profile: {{ guest.cobbler_profile }}</li>
                        <li>Expires at: {{ guest.expire_date }}</li>
                        <li>Current State: {{ guest.state }}</li>
                        <li>Purpose: {{ guest.purpose }}</li>
                    </ul>
                {% end %}
                </ul>
            {% end %}
            
        {% end %}
        </ul>

    {% else %}

        <p> Zoinks!  No hosts are registered. </p>

    {% end %}
    </div>
{% end %}
