{% extends base.html %}

{% block mainbody %}

    Your current guest reservations:
    <div class="alignLeft">
    {% if guests %}
        {% for guest in guests %}
            <ul>
                <li>Virt Name: {{ guest.virt_name }} (<a href="/guest/{{ guest.id }}/refresh">refresh status</a>)</li>
                <li> <form action="/guest/{{ guest.id }}/extend" method="post">
                        Extend reservation by <input type="text" name="days" size=3> days
                        <input type="submit" value="Extend!">
                     </form>
                </li>
                <ul>
                    <li>Hostname: {{ guest.hostname }}</li>
                    <li>IP Address: {{ guest.ip_address }}</li>
                    <li>Cobbler Target: {{ guest.cobbler_target }}</li>
                    <li>On Host: {{ guest.host.hostname }}</li>
                    <li>Expires at: {{ guest.expire_date }}</li>
                    <li>Current State: {{ guest.state }}</li>
                    <li>Purpose: {{ guest.purpose }}</li>
                    <li><a href="/guest/{{ guest.id }}/start">Start</a> |
                        <a href="/guest/{{ guest.id }}/stop">Stop</a> |
                        <a href="/guest/{{ guest.id }}/destroy">Destroy (force stop)</a> |
                        <a href="/guest/{{ guest.id }}/pause">Pause</a> |
                        <a href="/guest/{{ guest.id }}/unpause">Unpause</a> |
                        <a href="/guest/{{ guest.id }}/restart">Restart</a> |
                        <a href="/guest/{{ guest.id }}/delete">Return Guest</a>
                    </li>
                    {% if guest.state == "running" %}
                        <li>
                            <div id="vncDiv{{guests.index(guest)}}">
                                <div id="vncLink{{guests.index(guest)}}">
                                    <a href="javascript:;" 
                                       onclick="addVNC('{{ guest.host.hostname }}',
                                           '{{ guest.virt_name }}', '{{ guest.vnc_port }}', '{{ guests.index(guest) }}', '1')">
                                       Open VNC Console (in popup)
                                    </a>
                                     | 
                                    <a href="javascript:;" 
                                       onclick="addVNC('{{ guest.host.hostname }}',
                                           '{{ guest.virt_name }}', '{{ guest.vnc_port }}', '{{ guests.index(guest) }}', '0')">
                                       Open VNC Console (inline)
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% end %}
                </ul>
            </ul>
        {% end %}
    {% else %}
       <p><b> No current reservations. </p></b>
    {% end %}
    </div>
    
{% end %}
